.navbar{
    box-shadow: rgba(10, 10, 177, 0.2) 0px 7px 29px 0px;
}
#logo1{
    width: 200px;
    padding-left: 50px;
}
#logo2{
    width: 8%;
    padding-left: 50px;
    margin-right: 100px;
}
.nav-item{
    margin-left: 10px;
}


